<div class="eqLogic eqLogic-widget" style="min-width:270px;min-height:158px;" data-category="#category#" data-eqLogic_id="#id#" data-version="dashboard">
	<center>
        <span style="font-size : 1.5em;"><a href="#eqLink#">#name#</a></span><br />
	</center>
	<div class="list-group" style="margin:10px;">
		#li#
	</div>
<script type="text/javascript">
function open_rss#id#(lien_rss){
$('#md_modal2').dialog({title: "RSS"});
$('#md_modal2').load('index.php?v=d&plugin=rss&modal=modal.rss&lien='+lien_rss).dialog('open');
}
</script>
</div>